[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.5"
mysqlclient = "==1.3.12"
djangorestframework = "==3.8.2"
django-rest-swagger = "==2.2.0"
django-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.6"
