[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.5"
mysqlclient = "*"
djangorestframework = "==3.7"

[dev-packages]

[requires]
python_version = "3.6"
